{% load static %} 
<label class="modal">    
    <div id="{{modal_id}}-background" class="modal-content"> 
        <div class="content-zone">
            <div style="display:flex;flex-direction: column;justify-content:center;">
                {% for title, block in modal.blocks.items %}  
                    {% if block.image %}
                        <img src="{{block.image}}" class="modal-img">
                    {% endif %} 
                    {% if block.links %}
                        <div style="margin-top:2vw;width:90%;margin-left: auto;margin-right:auto;">
                            {% for title, link in block.links.items %}
                                <a target="_blank" style="margin:1em;" class="catalog-link" href="{{link}}">{{title}}</a> 
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}   
            </div> 
            <div style="display: flex;width:auto;">
                <a href="{{modal.onclose}}" class="close-btn">
                    <img src="/static/main/images/icons/close-image-modal.png">
                </a> 
            </div>
        </div>
    </div> 
</label> 