{% load static %}
<label class="modal">   
    <div id="{{modal_id}}-background" class="modal-content"> 
        <div class="content-zone">
            <div style="display:flex;flex-direction: column;justify-content:center;">
                <div style="display: flex;flex-direction: column;margin-top:20%;">
                    <div style="width:100%;display:flex;">
                        <img style="margin:auto;width:14vw;" src="{% static 'images/errors/android.svg' %}"> 
                    </div>  
                    <div style="width:100%;display:flex;">
                        <p class="paragraph-title" style="margin:auto;font-weight:800;color:#e98300;padding:2em;font-size:36px;">{{modal.text}}</p>
                    </div>  
                </div> 
            </div> 
            <div style="display: flex;width:auto;">
                <a href="{{modal.onclose}}" class="close-btn">
                    <img src="{% static 'images/icons/close-image-modal.png' %}">
                </a> 
            </div>
        </div>
    </div> 
</label> 