@keyframes swipe-left {
    from {
        opacity:0;
        transform: translateX(10%);
    }
    to {
        opacity:1;
        transform: translateX(0%);
    }
}


@keyframes swipe-right {
    from {
        opacity:0;
        transform: translateX(-10%);
    }
    to {
        opacity:1;
        transform: translateX(0%);
    }
}


@keyframes fading {
    from {opacity:0}
    to {opacity:1}
}

@keyframes fading-top {
    from {transform:translateY(-25%);opacity:0}
    to {transform:translateY(0%);opacity:1}
}


@keyframes jump {
    0% {transform:translateY(0px);}
    50% {transform:translateY(-6px);} 
    100% {transform:translateY(0px);}
}
