.contact {
    position:relative;
    display:flex;
    flex-direction: column;
    padding:3vw;
    margin:2vw;

    box-shadow: 23px 4px 55px -8px rgba(0, 0, 0, 0.35);
}


.contact h1 {
    text-align:left;
}

.contact p {
    margin:0.5vw;
}

.contact-list {
    display:flex;
    flex-direction:column;
    width:100%;
}


.contact:hover {
    box-shadow: 23px 4px 55px -8px rgba(0, 0, 0, 0.5);
}


.contact-list a {
    color:gray;
}


.contact-list a:hover p {
    color:#e98300;
}

.contact-list a img {
    position:relative;
    display:block;
    width:2.5vw;
    height:2.5vw;
    margin:0.5vw;
}


.contact-list a img:hover {
    animation-name:jump;
    animation-duration: 0.5s;
}
