#desktop-navigation {
    position:relative;
    display:flex;
    align-items: center;
    justify-content:space-between;
    width:100%;
    transition:0.3s;

    background-color:white;
    z-index:6;
}

#desktop-navigation #buttons {
    position:relative;
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    margin-left:auto;
    margin-right:15%;
    width:auto;
    z-index:7;
}



#desktop-navigation li {
    list-style-type:none;
    white-space:nowrap;
    padding:0.5vw;
}
 

#desktop-navigation .dropdown label {
    position:relative;
    display:block;
    cursor:pointer;
    padding:0.5vw;
}


#desktop-navigation .dropdown {
    position:relative;
    display:block;
    padding:0.5vw;
    text-align:left;
}


#desktop-navigation .dropdown p {
    text-transform: uppercase; 
    font-size:1.1vw;
    color: #0066a1;
}


#desktop-navigation .dropdown:hover p:first-child, 
#desktop-navigation .dropdown:hover a:hover {
    color: #e98300;
}


#desktop-navigation .dropdown-content {
    display:none;
    position:absolute;
    width:auto;
    height:auto;
    padding:2vw;
    font-size:1vw;
} 


#desktop-navigation .dropdown label:hover .dropdown-content {
    display:block;
    background-color: white;
    box-shadow: 4px 4px 47px 11px rgba(0, 0, 0, 0.2);
    animation: fading-top 0.8s;
} 

#desktop-navigation .dropdown label span {
    width:0.5vw;
    height:0.5vw;
    margin:0.4vw;
    border-left: 0.1vw solid #0066a1;
    border-top: 0.1vw solid #0066a1; 
    transform: rotate(225deg); 
}

#desktop-navigation .dropdown label:hover span {
    border-left: 0.1vw solid #e98300; 
    border-top: 0.1vw solid #e98300; 
}


#logo {
    margin-left:2vw;
}
