footer {
    position:relative;
    display:block;
    width:100%;
    margin:2vw;
    color:gray;
} 


footer p {
    font-size:1vw;
}


#copyright {
    position:relative;
    display:flex;
    justify-content:left;
    width:100%;
    margin-left:auto;
    margin-right:auto;
}


#footer-content {
    position:relative;
    display:flex; 
    align-items:center;
    justify-content:left;
    flex-wrap:wrap;
    width:100%;
    margin-left:auto;
    margin-right:auto; 
}    


#footer-content a {
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
}


#footer-content a:first-child p {
    color:gray;
}

#footer-content a p {
    color:#e98300;
}

#footer-content a:hover p {
    color:gray;
}


#footer-content a img {
    position:relative;
    display:block;
    width:2.5vw;
    height:2.5vw;
    margin:0.5vw;
}
