footer {
    position:relative;
    display:block;
    width:100%;
}


#copyright {
    position:relative;
    display:flex;
    justify-content:center;
    width:100%;
    margin:1vw;
}


#footer-content {
    position:relative;
    display:flex;
    flex-wrap:wrap;
    width:100%;
}    


#footer-content a {
    position:relative;
    display:flex;
    align-items:center;
}


#footer-content a:first-child p {
    color:gray;
}

#footer-content a:hover p {
    color:gray;
}



/* Mobile design */
@media screen and (max-width:1020px) {
    footer p {
        font-size:2.5vw;
        margin:1vw;
    }

    #footer-content {
        flex-direction:column;
        justify-content:left;
    }

    #footer-content a img {
        width:8vw;
        height:8vw;
        margin:1vw;
    }

     #footer-content .vertical-line {
         display:none !important;
    }
}


/* Desktop design */
@media screen and (min-width:1020px) {
    footer p {
        font-size:1vw;
        margin:0.5vw;
    }

    #footer-content {
        flex-direction:row;
        justify-content:center;
        align-items:center;
    }

    #footer-content a img {
        width:2.5vw;
        height:2.5vw;
        margin:0.5vw;
    }
}
