header {
    width:100%;
    display:flex;
    flex-direction:column;
}
    

#contact-info {
    position:relative;
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    width:100%;
}


#contact-info a p {
    font-size:1vw;
    margin:0.25vw;
}


#contact-info a p:first-child {
    color:gray;
}


#contact-info a p:last-child {
    color:#e98300;
}


#contact-info a {
    position:relative;
    display:flex;
    align-items:center;
    flex-wrap:wrap;
}


#contact-info a img {
    position:relative;
    display:block;
    width:2.5vw;
    height:2.5vw;
    margin:0.5vw;
}

#contact-info a:last-child:hover p:last-child {
    color:gray;
}


.vertical-line {
    position:relative;
    width:3em;
    height:0.1px;
    transform: rotate(90deg);
    margin:0.5vw;
    background-color:#e98300;
}


.horizontal-line {
    position:relative;
    display:block;
    width:100%;
    margin:0.5vw;
    height:0.1px;
    background-color:#e98300;
} 
