@import url("/static/css/navigation.css");


header {
    width:100%;
    display:flex;
    flex-direction:column;
}
    

#contact-info {
    position:relative;
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    width:100%;
}


#contact-info a p {
    margin:0.25vw;
}


#contact-info a p:first-child {
    color:gray;
}


#contact-info a p:last-child {
    color:#e98300;
}


#contact-info a {
    position:relative;
    display:flex;
    align-items:center;
    flex-wrap:wrap;
}


#contact-info a img {
    position:relative;
    display:block;
}

#contact-info a:last-child:hover p:last-child {
    color:gray;
}

#navigation {
    display:flex;
    align-items:center;
}

.logo {
    position:relative;
    display:flex;
    justify-content:center;
}


/* Mobile design */
@media screen and (max-width:1060px) {
    #contact-info {
        justify-content:center;
    }

    #contact-info a p {
        font-size:2.25vw;
    }

    #contact-info a img {
        position:relative;
        display:block;
        width:8vw;
        height:8vw;
    }

    #contact-info .vertical-line {
        display:none !important;
    }

    header {
        margin-top:8vh;
    }

    #navigation {
        justify-content:center;
    }

    .logo {
        width:100%;
    }

    .logo img {
        width:40%;
        margin:2vw;
    }
}


/* Desktop design */
@media screen and (min-width:1060px) {
    #contact-info {
        justify-content:left;
    }

    #contact-info a p {
        font-size:1vw;
    }

    #contact-info a img {
        position:relative;
        display:block;
        width:2.5vw;
        height:2.5vw;
    }

    header {
        margin-top:4vh;
    }

    .logo {
        width:50%;
    }
}
