 :root {

 }

 body {
    font-family:Arial, Helvetica, sans-serif;
    color: #6f7279; 
 }
 
h1 {

}


input[type="checkbox"] {
    display:none;
}

a, p { 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400; 
    color:#0066a1;
} 

ul {
    padding-left:0;
}

ul li { 
    list-style-type: none;
}

.under-header-content {
    width:100%;           
    flex-direction:column;
    margin-top:1vh;  
}

.orange-gl {border-top:1px solid #e98300;width:auto;}


.under-header-title {
    text-align:center;
    text-decoration: none; 
    line-height:1em;
    color: #6f7279;
    font-size:18pt;
    line-height:1.5;  
}  

.paragraph {
    display:block;
    word-wrap: break-word;
    text-align:justify;
    font-family:Arial, Helvetica, sans-serif;
    text-align:center; 
    font-size: 18px;
    font-weight:200; 
    margin:2vw; 
    height:auto;
}

.paragraph-title {
    display:block;
    text-align:center;
    word-wrap: break-word;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;  
    color: #6f7279; 
    font-size:28px;
    padding-top:0.5em;padding-bottom:0.5em;
    font-weight:200;  
} 
 

.paragraph-img {   
    width:45%; 
    margin-left:1em;  
    margin-right:1em;  
    margin-bottom:1em; 
    float:left; 
}

#department-info {
    display:flex; 
    flex-wrap: wrap; 
    justify-content:center; 
    text-align: center;
}

.departmant-item { 
    display:block; 
    text-align: center;
    margin:1em;
    min-width:20em;max-width:25em;
}

#department-info p {  
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
    text-decoration: none;  
    font-size:28px;
    font-weight:200;
} 

.specification-icon {margin:1em;width:10em;}



.flexbox {
    width:100%;
    display:flex;
    flex-wrap: wrap;   
    overflow-wrap: wrap; 
    justify-content:center;
} 
.flexbox-item {
    width:15em; 
    margin-left:3vw;
    margin-right:3vw;
    text-align: center;  
}

#huge-nums { 
    text-align:center;justify-content:center;
}

#huge-nums {
    animation-name:opacity-occurance-1;animation-duration:2s;
}

#huge-nums .flexbox-layer-1 { 
    font-size:80px;
}

#huge-nums .flexbox-layer-2 { 
    font-size:40px; 
}

#huge-nums .flexbox-layer-3 { 
    font-size:18px;
}

.default-block {
    margin-top:4vh;margin-bottom:4vh;
    margin-left:auto;margin-right:auto;
    width:80vw; 
} 


#page-up {
    background:#e98300;
    width:6vh;height:6vh;
    border-radius:50%;position:fixed;
    top:80%;right:5%;
    display:none;
    animation-name:opacity-occurance-1;animation-duration:1s;
}


#page-up:hover {background:#0066a1;transition:1s;}