html {
    scroll-behaviour:smooth;
}


body {
    position:relative;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:stretch;
    width:74vw;
    margin-left:auto;
    margin-right:auto;
    font-family:Arial, Helvetica, sans-serif;
    color: #6f7279;
}


body::-webkit-scrollbar {width:1em; background: rgba(255,255,255, 0.5);}
body::-webkit-scrollbar-thumb {background-color:rgba(233, 131, 0, 0.6);border-radius:1em;width:1em;}
body::-webkit-scrollbar-thumb:hover {background-color:rgba(233, 131, 0, 1);}


section {
    position:relative;
    display:block;
    margin-top:4vh;
    margin-bottom:4vh;
}


a {
    text-decoration:none;
}


h1, h2, h3 {
    position:relative;
    display:block;
    text-align:center;
    word-wrap: break-word;
    color: #6f7279;
}


.section-title {
    margin:2vw;
}


a, a:visited {
    color: #0066a1;
}


a:hover {
    color:#e98300;
}


p {
    position:relative;
    display:block;
    text-align:justify;
    word-wrap: break-word;
    color: #6f7279;
    margin:0;
}


p img {
    margin:1vw;
    float: left;
}


ul {
    padding-left:0;
}


input[type="checkbox"] {
    display:none;
}


.animated-number {
    color: #e98300;
}


.animated-number + p {
    font-weight:600;
    color: #6f7279;
}


.flexbox {
    position:relative;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:stretch;
    text-align:center;
    flex-wrap: wrap;
    overflow-wrap: wrap;
}


.flexbox .flex-item {
    position:relative;
    display:flex;
    flex-direction:column;
    align-items:stretch;
    justify-content:center;
    margin:2vw;
    text-align:center;
}


.flexbox .flex-item img {
    position:relative;
    display:block;
    width:50%;
    margin-left:auto;
    margin-right:auto;
}


#huge-nums h1, #huge-nums h2, #huge-nums h3 {
    color:#2E4957;
    margin:1vw !important;
}


#page-up {
    position:fixed;
    display:none;
    justify-content:center;
    align-items:center;
    border-radius:50%;
    right:5vw;
    bottom:5vw;
    z-index:6;

    background-color:#e98300;
    animation: fading-top 0.8s;
    box-shadow: 4px 4px 47px 11px rgba(0, 0, 0, 0.2);
}


#page-up div {
    position:absolute;
    display:block;
    border-radius:1vw;
    background-color:white;
    height:7.5%;
}


#page-up div:first-child, #page-up div:last-child
{
    width:40%;
}


#page-up div:nth-child(2) {
    transform: translateY(20%) rotate(90deg);
    margin:auto;
    width:80%;
}


#page-up div:first-child {
    transform: translateX(30%) rotate(45deg);
    top:20%;
}


#page-up div:last-child {
    transform: translateX(-30%) rotate(-45deg);
    top:20%;
}


#page-up:hover {
    opacity:0.6;
}


.vertical-line {
    position:relative;
    width:3em;
    height:0.1px;
    transform: rotate(90deg);
    background-color:#e98300;
}


.horizontal-line {
    position:relative;
    display:block;
    width:100%;
    margin-top:0.5vw;
    margin-bottom:0.5vw;
    height:0.1px;
    background-color:#e98300;
}


/* Mobile design */
@media screen and (max-width:1060px) {
    h1 {
        font-size:5vw;
    }

    h2 {
        font-size:3vw;
    }

    h3 {
        font-size:1.5vw;
    }

    p {
        font-size:3.5vw;
    }

    p img {
        width:100%;
    }

    #huge-nums h1 {
        font-size:15vw;
    }

    #huge-nums h2 {
        font-size:7.5vw;
    }

    #huge-nums h3 {
        font-size:3.75vw;
    }

    #page-up {
        width:10vw;
        height:10vw;
    }

    .flexbox .flex-item {
        width:100%;
    }

    #huge-nums .flex-item {
        width:60%;
    }

    #seminars-link {
        width:70%;
    }
}


/* Desktop design */
@media screen and (min-width:1060px) {
    h1 {
        font-size:2vw;
    }

    h2 {
        font-size:1.5vw;
    }

    h3 {
        font-size:0.75vw;
    }

    p {
        font-size:1.25vw;
    }

    p img {
        width:50%;
    }

    #huge-nums h1 {
        font-size:5vw;
    }

    #huge-nums h2 {
        font-size:2.5vw;
    }

    #huge-nums h3 {
        font-size:1.25vw;
    }

    #page-up {
        width:5vw;
        height:5vw;
    }

    .flexbox .flex-item {
        width:30%;
        margin:1vw;
    }

    #huge-nums .flex-item {
        width:30%;
    }

    #seminars-link {
        width:50%;
    }
}
