html {
    scroll-behavior: smooth;
}


body {
    position:relative;
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:74vw;
    margin-left:auto;
    margin-right:auto;
    font-family:Arial, Helvetica, sans-serif;
    color: #6f7279;
}


body::-webkit-scrollbar {width:1em; background: rgba(255,255,255, 0.5);}
body::-webkit-scrollbar-thumb {background-color:rgba(233, 131, 0, 0.6);border-radius:1em;width:1em;}
body::-webkit-scrollbar-thumb:hover {background-color:rgba(233, 131, 0, 1);}


section {
    position:relative;
    display:block;
    margin-top:4vh;
    margin-bottom:4vh;
}


a {
    text-decoration:none;
}


h1, h2, h3 {
    position:relative;
    display:block;
    text-align:center;
    word-wrap: break-word;
    color: #6f7279;
}


.section-title {
    margin:2vw;
}


a, a:visited {
    color: #0066a1;
}


a:hover {
    color:#e98300;
}


p {
    position:relative;
    display:block;
    text-align:justify;
    word-wrap: break-word;
    color: #6f7279;
    font-size:1.25vw;
}

input[type="checkbox"] {
    display:none;
}


ul {
    padding-left:0;
}


.under-header-content {
    width:100%;           
    flex-direction:column;
    margin-top:1vh;  
}


.under-header-title {
    text-align:center;
    text-decoration: none; 
    line-height:1em;
    color: #6f7279;
    font-size:18pt;
    line-height:1.5;  
}
 

.paragraph-img {   
    width:45%; 
    margin-left:1em;  
    margin-right:1em;  
    margin-bottom:1em; 
    float:left; 
}


.animated-number {
    color: #e98300;
}


.animated-number + p {
    font-weight:600;
    color: #6f7279;
}


.flexbox {
    position:relative;
    width:100%;
    display:flex;
    justify-content:center;
    text-align:center;
    flex-wrap: wrap;
    overflow-wrap: wrap;
    animation-duration:2s;
}


.flexbox .flex-item {
    position:relative;
    display:flex;
    flex-direction:column;
    align-items:stretch;
    justify-content:center;
    width:30%;
    margin:2vw;
    text-align:center;
}

.flexbox .flex-item h1,
.flexbox .flex-item h2 {
    width:auto;
}


.flexbox .flex-item img {
    position:relative;
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:50%;
}


#huge-nums h1, #huge-nums h2, #huge-nums h3 {
    color:#2E4957;
    margin:1vw !important;
}

#huge-nums .flex-item {
    width:30%;
    margin:0vw;
}


#huge-nums h1 {
    font-size:5vw;
}


#huge-nums h2 {
    font-size:2.5vw;
}


#huge-nums h3 {
    font-size:1.25vw;
}


#page-up {
    position:fixed;
    display:none;
    width:5vw;
    height:5vw;
    justify-content:center;
    align-items:center;
    border-radius:2.5vw;
    right:5vw;
    bottom:5vw;
    z-index:6;

    background-color:#e98300;
    animation: fading-top 0.8s;
    box-shadow: 4px 4px 47px 11px rgba(0, 0, 0, 0.2);
}


#page-up div {
    position:absolute;
    display:block;
    border-radius:1vw;
    background-color:white;
    height:7.5%;
}


#page-up div:first-child, #page-up div:last-child
{
    width:40%;
}


#page-up div:nth-child(2) {
    transform: translateY(20%) rotate(90deg);
    margin:auto;
    width:80%;
}


#page-up div:first-child {
    transform: translateX(30%) rotate(45deg);
    top:20%;
}


#page-up div:last-child {
    transform: translateX(-30%) rotate(-45deg);
    top:20%;
}


#page-up:hover {
    opacity:0.6;
}
