:root {
    --not-active-dot-width:1.5vw;
    --active-dot-width:3vw;
}

.slideshow {
    position:relative;
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:74vw;
    padding:2vw; 
    margin-top:4vw;
    margin-bottom:4vw;
    margin-left:auto;
    margin-right:auto;
    z-index:3;
}


.slides { 
    position:relative;
    display:block; 
    width:100%;
}


.slide {
    position:relative; 
    display:block;
    text-align:center;
    width:100%; 
    animation-duration: 1s;
    z-index:1;
}


.slide-image { 
    position:relative;
    display:block; 
    width:100%; 
    margin-left:auto;
    margin-right:auto;
} 


.slideshow nav {
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    margin-left:auto;
    margin-right:auto;  
}


.slideshow-dot {
    position:relative;
    margin:1vw;
    width:var(--not-active-dot-width);
    height:var(--not-active-dot-width);
    border-radius:var(--not-active-dot-width);
    cursor:pointer;
    transition:0.8s;

    background-color:rgba(233, 131, 0, 1);
}

.slideshow .slideshow-arrow {
    position:relative;
    display:flex;
    align-items:center;
    justify-content:center;
    width:3vw;
    height:3vw;   
    z-index:2;
    cursor:pointer;
    transform: rotate(45deg);
}

.slideshow .slideshow-arrow:hover {
    opacity:0.6;
}

.slideshow .left-arrow { 
    border-left: 0.2vw solid black;  
    border-bottom: 0.2vw solid black; 
    margin-left:-3vw;
}


.slideshow .right-arrow { 
    border-right: 0.2vw solid black; 
    border-top: 0.2vw solid black;  
    margin-right:-3vw;
}
 
 


/* Mobile styles */
@media screen and (max-width:1060px) { 
    .slide {
        flex-direction:column;
    } 
}


/* Desktop styles */
@media screen and (min-width:1060px) { 
    .slide {
        flex-direction:row;
    } 
}
