.slideshow {
    position:relative;
    display:block;
    z-index:3;
}


.slides { 
    position:relative;
    display:block;
    width:100%;
}


.slide {
    position:relative;
    display:block;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    animation-duration: 1s;
    box-shadow: 4px 4px 47px 11px rgba(0, 0, 0, 0.2);
    z-index:1;
}


.text-slide {
    padding:4vw;
    text-align:center;
}


.text-slide h1 {
    text-transform: uppercase;
}


.slide img {
    position:relative;
    display:block; 
    width:100%;
} 


.slideshow nav {
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    margin:2vw;
    margin-left:auto;
    margin-right:auto;  
}


.slideshow-dot {
    position:relative;
    margin:1vw;
    width:var(--not-active-dot-width);
    height:var(--not-active-dot-width);
    border-radius:var(--not-active-dot-width);
    cursor:pointer;
    transition:0.8s;

    background-color:rgba(233, 131, 0, 1);
}

.slideshow .slideshow-arrow {
    position:relative;
    display:flex;
    align-items:center;
    justify-content:center;
    z-index:2;
    cursor:pointer;
    transform: rotate(45deg);
}

.slideshow .slideshow-arrow:hover {
    opacity:0.6;
}

.slideshow .left-arrow { 
    border-left: 0.2vw solid black;  
    border-bottom: 0.2vw solid black;
}


.slideshow .right-arrow { 
    border-right: 0.2vw solid black; 
    border-top: 0.2vw solid black;
}


/* Mobile design */
@media screen and (max-width:1020px) {
    :root {
        --active-dot-width:8vw;
        --not-active-dot-width:4vw;
    }

    .slideshow .slideshow-arrow  {
        display:none;
    }

    .slideshow {
        width:96vw;
    }
}


/* Desktop design */
@media screen and (min-width:1020px) {
    :root {
        --active-dot-width:4vw;
        --not-active-dot-width:2vw;
    }

    .slideshow .slideshow-arrow  {
        width:3vw;
        height:3vw;
    }

    .slideshow {
        width:80vw;
    }
}
