.slideshow {
    position:relative;
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:74vw;
    padding:2vw; 
    margin-left:auto;
    margin-right:auto;
}


.slides { 
    position:relative;
    display:block; 
    width:100%;
}


.slide {
    position:relative; 
    display:block;
    width:100%; 
    animation-duration: 1s;
}


.slide-image { 
    position:relative;
    display:block; 
    width:80%; 
    margin-left:auto;
    margin-right:auto;
} 


.slideshow nav {
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    margin-left:auto;
    margin-right:auto;  
}


.slideshow-dot {
    position:relative;
    margin:1vw;
    width:var(--not-active-dot-width);
    height:var(--not-active-dot-width);
    border-radius:var(--not-active-dot-width);
    cursor:pointer;
    transition:0.8s;

    background-color:rgba(233, 131, 0, 1);
}

/* Mobile styles */
@media screen and (max-width:1060px) { 
    :root {
        --active-dot-width:8vw;
        --not-active-dot-width:4vw;
    }
    .slide {
        flex-direction:column;
    } 
}


/* Desktop styles */
@media screen and (min-width:1060px) {
    :root {
        --active-dot-width:4vw;
        --not-active-dot-width:2vw;
    }
    .slide {
        flex-direction:row;
    } 
}