#timetable {
    position:relative;
    display:flex;
    justify-content:center;
    width:100%;
    overflow:scroll;
    margin:5%;
}


#timetable table {
    position:relative;
    display:block;
    width:100%;
    border-collapse: collapse;
}


#timetable  table tr:first-child + tr td  {
    text-align: center !important;
    white-space: nowrap !important;
    color:green !important;
}


#timetable table tr td {
    font-weight:600;
    color: #6f7279 !important;
    padding:0.25vw;
}


/* Mobile design */
@media screen and (max-width:1020px) {
    #timetable  table tr:first-child + tr td  {
        font-size:2.5vw !important;
    }

    #timetable table tr td {
        font-size:1.75vw !important;
    }
}


/* Desktop design */
@media screen and (min-width:1020px) {
    #timetable  table tr:first-child + tr td  {
        font-size:1.2vw !important;
    }

    #timetable table tr td {
        font-size:0.8vw !important;
    }
}
