#timetable table { 
    font-family:Arial, Helvetica, sans-serif; 
    border-collapse: collapse;  
    font-weight:600;
    display:block;
    width:100%;
    margin-left:auto;
    margin-right:atuo;
}
#timetable  table tr:first-child + tr td:first-child {border-right:none !important; }
#timetable  table tr:first-child + tr td:first-child + td {border-left:none !important; }

#timetable  table tr:not(:first-child) td { 
    font-size:16px !important;  
    color: #6f7279 !important;  
    padding:0.2em;   
    border:0.1em solid gray; 
} 

#timetable  table tr:first-child + tr td:first-child {
    color:green !important; 
    text-align: center;
}
#timetable  table tr:first-child + tr td  {
    border:none;   
    font-size:20px !important; 
    text-align: center !important;
    white-space: nowrap !important; 
    font-weight:800;
}
 

#timetable  td {
    border:none;
}