@import url("/static/css/video-js.css");
@import url("/static/css/video-js.min.css");


.video-clip {
    position:relative;
    display:block;
    cursor: pointer;
    margin-left:auto;
    margin-right: auto;
    margin-top:4vw;
    animation:fading 2s;
}

.video-clip:hover {
    opacity:0.8;
}


.vjs-play-progress {  
    background-color:#e98300 !important;
}


/* Mobile design */
@media screen and (max-width:1060px) {
    .video-clip {
        width:100% !important;
    }
}


/* Desktop design */
@media screen and (min-width:1060px) {
    .video-clip {
        width:60% !important;
    }
}
