{% load static %}  
{% load customtags %}   
<head> 
    <link rel="stylesheet" type="text/css" href="{% static 'css/navigation.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/contacts.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/catalog.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/product.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/slideshow.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/animations.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/video.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/modal.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/video-js.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/video-js.min.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/modal.js' %}"></script>
</head>

<body> 
    <div id="up"></div>
    <a href="#up" id="page-up"><div></div><div></div><div></div></a>

    {% include 'header.html' %} 

    {% block maincontent %}{% endblock %}
    {% block contacts %}{% endblock %}
    {% block catalog %}{% endblock %}
    {% block regions %}{% endblock %}
    {% block product %}{% endblock %}
    {% block timetable %}{% endblock %} 

    {% include 'footer.html' %}
</body> 
