{% load static %}  
{% load customtags %}  


<nav id="desktop-navigation">
    <a href="https://terussia.ru/" class="logo"><img src="{% static 'images/icons/te-logo.png' %}"></a>
    <ul>
        <li class="dropdown">
            <label>
                <div style="display:flex;align-items:center;">
                    <p>Продукция</p><span></span>
                </div>
                <div class="dropdown-content">
                    <ul>
                        {% get_products as products %} 
                        {% for product in products %}
                            <li><a href="{% url 'electrical:product_detail' product_slug=product.slug %}"><p>{{product.name}}</p></a></li>
                        {% endfor %} 
                    </ul>
                </div>

            </label>
        </li>
        <li class="dropdown">
            <label>
                <div style="display:flex;align-items:center;">
                    <p>Поддержка</p><span></span>
                </div>
                <div class="dropdown-content">
                    <ul>
                        <li><a href="{% url 'electrical:catalogs' %}"><p>Каталоги продукции</p></a></li>
                        <li><a href="{% url 'electrical:seminars_timetable' %}"><p>Обучение</p></a></li>
                    </ul>
                </div>
            </label>
        </li>
        <li class="dropdown">
            <label>
                <div style="display:flex;align-items:center;">
                    <p>Контакты</p><span></span> 
                </div>
                <div class="dropdown-content">
                    <ul>
                        {% get_contacts as contacts %}
                        {% for contact in contacts %}
                            {% slugify_word contact as slugified_city %}
                            <li><a href="{% url 'electrical:contacts' city=slugified_city %}"><p>{{contact}}</p></a></li>
                        {% endfor %}
                        <li><a href="{% url 'electrical:regions' %}"><p>Ответственность по регионам</p></a></li>
                    </ul>
                </div>
            </label>
        </li>
    </ul>
</nav>


<script type="text/javascript">
    var desktop_navigation = document.getElementById("desktop-navigation");
    var fix = 350;
    window.addEventListener(
        "scroll", function(e) {
            var scrolled = document.body.scrollTop - desktop_navigation.offsetTop;
            if (scrolled >= fix ) {
                $("#page-up").css("display", "flex");

                $("#desktop-navigation").css("position", "fixed");
                $("#desktop-navigation").css("top", "0");
                $("#desktop-navigation").css("left", "0");
                $("#desktop-navigation").css("padding", "1vw");
                $("#desktop-navigation").css("box-shadow", "4px 4px 47px 11px rgba(0, 0, 0, 0.2)");
                $("#desktop-navigation ul").css("margin-right", "15%");
                $("#desktop-navigation .logo").css("display", "flex");
            }
            else {
                $("#page-up").css("display", "none");

                $("#desktop-navigation").css("position", "relative");
                $("#desktop-navigation").css("padding", "0vw");
                $("#desktop-navigation").css("box-shadow", "0px 0px 0px 0px");
                $("#desktop-navigation #buttons").css("margin-right", "5%");
                $("#desktop-navigation .logo").css("display", "none");
            }
        }
    );
</script>
