{% load static %}  
{% load customtags %}  


<link rel="stylesheet" type="text/css" href="{% static 'css/desktop_navigation.css' %}?v=5">

<nav>
    <a href="https://terussia.ru/" id="logo"><img src="{% static 'images/icons/te-logo.png' %}"></a>  
    <ul id="desktop-navigation">
        <li class="dropdown">
            <label>
                <div style="display:flex;align-items:center;">
                    <p>Продукция</p><span></span>
                </div>
                <div class="dropdown-content">
                    <ul>
                        {% get_products as products %} 
                        {% for product in products %}
                            <li><a href="{% url 'electrical:product_detail' product_slug=product.slug %}">{{product.name}}</a></li> 
                        {% endfor %} 
                    </ul>
                </div>

            </label>
        </li>
        <li class="dropdown">
            <label>
                <div style="display:flex;align-items:center;">
                    <p>Поддержка</p><span></span>
                </div>
                <div class="dropdown-content">
                    <ul>
                        <li><a href="{% url 'electrical:catalogs' %}">Каталоги продукции</a></li>
                        <li><a href="{% url 'electrical:seminars_timetable' %}">Обучение</a></li>
                    </ul>
                </div>
            </label>
        </li>
        <li class="dropdown">
            <label>
                <div style="display:flex;align-items:center;">
                    <p>Контакты</p><span></span> 
                </div>
                <div class="dropdown-content">
                    <ul>
                        {% get_contacts as contacts %}
                        {% for contact in contacts %}
                            {% slugify_word contact as slugified_city %}
                            <li><a href="/contacts/{{slugified_city}}">{{contact}}</a></li>
                        {% endfor %}
                        <li><a href="">Ответственность по регионам</a></li>
                    </ul>
                </div>
            </label>
        </li>
    </ul>
</nav> 