{% load static %}  
{% load customtags %}   

<footer>
    <div class="horizontal-line" style="background-color:rgba(125,125,125,0.5);"></div>

    <div id="copyright">
        <div style="display:flex;margin-left:4vw;">
            <p>Разработано © TE Russia</p>
            <p id="year"></p>
        </div>
    </div>

    <div id="footer-content">
        <a>
            <img src="{% static 'images/icons/address-2.png' %}">
            <p>127287 г. Москва, ул. 2-я Хуторская, д. 38А, стр. 8</p>
        </a>

        <div class="vertical-line" style="background-color:rgba(125,125,125,0.5);"></div>

        <a href="tel:7-495-790-7902" type="tel">
            <img src="{% static 'images/icons/phone.png' %}">
            <p>+7-495-790-7902</p>
        </a>

        <div class="vertical-line" style="background-color:rgba(125,125,125,0.5);"></div>

        <a href="mailto:industry@terussia.ru">
            <img src="{% static 'images/icons/email.png' %}">
            <p>industry@terussia.ru</p>
        </a>
    </div>
</footer>

<script type="text/javascript">
    document.getElementById("year").innerHTML = new Date().getFullYear();
</script>
