{% load static %}  
{% load customtags %}     


<header>
    <div id="contact-info">
        <a>
            <img src="{% static 'images/icons/address.png' %}">
            <p>Адрес:</p><p>127287 г. Москва, ул. 2-я Хуторская, д. 38А, стр. 8</p>
        </a>
        <div class="vertical-line" style="background-color:rgba(125,125,125,0.25);"></div>
        <a href="tel:7-495-790-9028" type="tel">
            <img src="{% static 'images/icons/phone.png' %}">
            <p>Телефон:</p><p>+7(495) 790-9028</p>
        </a>
    </div>

    <div class="horizontal-line" style="background-color:rgba(125,125,125,0.25);"></div>
    <div id="navigation">
        <a href="https://terussia.ru/" class="logo"><img src="{% static 'images/icons/te-logo.png' %}"></a>
        {% include 'desktop_navigation.html' %}
        {% include 'mobile_navigation.html' %}
    </div>
    <div class="horizontal-line"></div>

</header>  
