
@keyframes search {
    0% {transform:translateY(0px);}
    50% {transform:translateY(-6px);} 
    100% {transform:translateY(0px);}
}

@keyframes searcher-occurance-1 {
    from {opacity:0;transform:translateY(-100%);}
    to {opacity:1;transform:translateY(0%);}
}

@keyframes searcher-occurance-2 {
    from {opacity:1;transform:translateY(0%);}
    to {opacity:0;transform:translateY(-100%);}
}

@keyframes search-icon-1 {
    0% {opacity:1;transform:translateY(0%);}
    50% {opacity:0;transform:translateY(-100%);}
    60% {display:none;transform:translateY(100%);}
    100% {display:block;transform:translateY(0%);}
}
@keyframes search-icon-2 {
    0% {opacity:1;transform:translateY(0%);}
    50% {opacity:0;transform:translateY(-100%);}
    60% {display:none;transform:translateY(100%);}
    100% {display:block;transform:translateY(0%);}
}

input[class="search-checkbox"] {display: none;}
.searcher { 
    width:100%;
    background-color: white;
    display:none;
    align-items:center;
    z-index: 2; 
    margin:auto; 
    height:100%;
}

.search-icon {   
    width:30px;height:30px;cursor:pointer; float:right;
    margin-left:auto;right:0;top:0;
    pointer-events:auto;
}
.search-icon:hover {
    animation-name:search;animation-duration: 0.5s;
}
input[class="search-checkbox"]:checked + .searcher {
    display:flex;
    animation-name:searcher-occurance-1;
    animation-duration:0.6s; 
}
input[class="search-checkbox"]:not(:checked) + .searcher { 
    animation-name:searcher-occurance-2;
    animation-duration:0.6s; 
} 

input[class="search-checkbox"]:checked + .searcher + .search-icon { 
    z-index:2;
    animation-name: search-icon-1;
    animation-duration:0.3s; 
    content: url("/static/main/images/icons/dropdown-close-2.png");
} 
input[class="search-checkbox"]:not(:checked) + .searcher + .search-icon {  
    animation-name: search-icon-2;
    animation-duration:0.3s;
} 


.searcher-field { 
    height:50px;
    width:100%; 
    color:gray; 
    font-size:14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style:oblique;
    border:none;   
    position:absolute;
    left:2em;
    margin-right:100%;
    z-index:1;
    outline: none;
    pointer-events:auto;
} 

.search-box { 
    width:100%;
    margin-left:auto;
    margin-right:auto;
    height:30px;
    display:flex;
    align-items: center;
    position:absolute;
    float:right;right:0;
    pointer-events:none;
}