

.footer-info {
    display:flex; 
    flex-wrap:wrap;  
    width:75vw;  
    margin-bottom:3vh;
    margin-top:3vh;
    margin-left:auto;margin-right:auto;
} 
.footer-info  #footer-info {
    display:flex;flex-direction: column; 
}
#footer-info label {display:flex;flex-direction:row;flex-wrap:wrap;}
.footer-info  a {display:flex;align-items:center;padding-top:px;padding-bottom-5px;min-width:10em;}
.footer-info  a:first-child {min-width:10em;}
.footer-info  a:last-child {min-width:5em;}

.footer-info p {font-size:14px;} 
.footer-info  a p {color:#e98300;padding:0.5em;} 
.footer-info  a p:hover {color: #0066a1;} 

#footer-copyright {text-align:left;color:gray;} 
 
@media screen and (max-width: 750px) { 
    #footer-copyright {text-align:center;}
    .footer-info  #footer-info div {flex-direction:column;}
    .footer-info a {margin-top:-1em;} 
    #footer-info label {display:block;}
}
 