
@keyframes occurance {
    from {transform:translateY(-200%);}
    to {transform:translateY(0%);}
} 
@keyframes opacity-occurance-1 {
    from {opacity:0;transform:translateY(-10%);}
    to {opacity:1;transform:translateY(0%);}
} 
@keyframes opacity-occurance-2 {
    from {opacity:1;transform:translateY(0%);}
    to {opacity:0;transform:translateY(-10%);}
} 

@keyframes rotation-1 { 
    from {transform:rotate(-180deg);}
    to {transform:rotate(0deg);}
}
@keyframes rotation-2 { 
    from {transform:rotate(180deg);}
    to {transform:rotate(0deg);}
} 

::-webkit-scrollbar {width:1em; background: transparent;}
::-webkit-scrollbar-thumb {background-color:rgba(233, 131, 0, 0.6);;border-radius:1em;width:1em;} 
::-webkit-scrollbar-thumb:hover {background-color:rgba(233, 131, 0, 1);} 


header {display:flex;flex-direction:column;width:auto;}
#contact-info {display:flex;flex-direction:row;flex-wrap:wrap;padding-left:5vw;}
#site-navigation-750-plus {display:flex;flex-direction:row;flex-wrap:wrap;padding-left:5vw;}

.default-text { 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    text-decoration: none;
} 

.or-bl-link {color:#e98300;}.or-bl-link:hover {color: #0066a1;}
.bl-or-link {color:#0066a1;}.or-bl-link:hover {color: #e98300;}

.logo-item {text-align: left;display:flex;width:auto;}
.logo {margin:1em;}


.contact-info {display:flex;align-items:center;flex-direction: —Åolumn;position:relative;} 
.contact-info a {display:flex;align-items:center;padding-bottom:5px;padding-top:5px;min-width:10em;}
.contact-info a:first-child {min-width:10em;}
.contact-info a:last-child {min-width:5em;}

.contact-info a p {font-size:12px;}
.contact-info a p:nth-child(2n){color: #0066a1;padding:0.5em;} 
.contact-info a p:nth-child(2n+1) {color:#e98300;cursor:pointer;padding:0.5em;} 
.contact-info a p:nth-child(2n+1):hover {color: #0066a1;} 




.to-fix-2 {
    position:fixed;margin:-1em;
    padding-left:0vw;white-space:nowrap;
    animation-name:opacity-occurance-1;animation-duration:0.8s;
}
.dropdown-icon {margin:1.5em;width:1.5em;height:1.25em;cursor:pointer;}
.dropdown-icon:hover {content:url('/static/main/images/icons/or-dropdown-icon.png');} 
.arrow-icon-1 {cursor:pointer;margin-left:1em;}
.arrow-icon-2 {cursor:pointer;margin-left:1em;} 




input[class="checkbox-1"] {display: none;}
input[class="checkbox-1"]:checked + div + .menu-item-content-1 {
    display:flex;animation-name:opacity-occurance-1;animation-duration:1s;
} 
input[class="checkbox-1"]:checked + div .dropdown-icon {
    animation-name:rotation-1;animation-duration:0.5s;
    content:url('/static/main/images/icons/dropdown-close-1.png');
} 
input[class="checkbox-1"]:not(:checked) + div .dropdown-icon {
    animation-name:rotation-2;animation-duration:0.5s; 
} 
input[class="checkbox-1"]:checked + div .dropdown-icon:hover {content:url('/static/main/images/icons/dropdown-close-2.png');}
 
.site-navigation-750-minus {display: block;}  
#to-fix-1 {
    background:white;
    display:none;  
    width:100vw;
    box-shadow: 0 4px 5px -2px rgba(0,0,0,0.5); 
    z-index:2;
}
.site-navigation-750-minus .menu-item-content-1 { 
    width:90vw;
    position:fixed;
    animation-name:occurance;animation-duration:0.6s;
    box-shadow: 1px 1px 12px 4px rgba(0,0,0,0.5); 
    background: white; 
    flex-direction: column;  
    padding:1em; 
    min-height: 100vh;
    height:auto;
	top: 7vh; 
    display: none;
    z-index:1;
}
.site-navigation-750-minus .menu-item-content-1 #content { 
    display:flex;
    flex-direction: column;   
    height:90vh;
    max-height:100%;
    overflow:auto; 
	top: 7vh; 
}
.site-navigation-750-minus .menu-item-content-1 .menu-item-title-1 { 
    color: #0066a1;overflow-wrap:break-word;text-decoration: none;   
}
.site-navigation-750-minus .menu-item-content-1 .menu-item-content-2 {
    position:relative;display:none;width:auto;padding:1em;
}
.site-navigation-750-minus label {padding:0.6em;pointer-events: auto;}
.site-navigation-750-minus a {color:#0066a1;position:relative;pointer-events: auto;}
.site-navigation-750-minus label a:hover {color:#e98300;} 
.site-navigation-750-minus a:visited {color:#0066a1;}  

.site-navigation-750-minus .layer-1:hover .arrow-icon-1 {
    content:url('/static/main/images/icons/or-arrow-icon-1.png');
}   
.site-navigation-750-minus .layer-1:hover .menu-item-title-1 {color:#e98300;} 
.site-navigation-750-minus .layer-1:hover input[class="checkbox-2"]:checked + .arrow-icon-1 { 
    content:url('/static/main/images/icons/or-arrow-icon-2.png');
} 
.site-navigation-750-minus .layer-2:hover .arrow-icon-2 {
    content:url('/static/main/images/icons/or-arrow-icon-1.png');
}   
.site-navigation-750-minus .layer-2:hover .menu-item-title-2 {color:#e98300;} 
.site-navigation-750-minus .layer-2:hover input[class="checkbox-3"]:checked + .arrow-icon-2 { 
    content:url('/static/main/images/icons/or-arrow-icon-2.png');
} 

input[class="checkbox-2"] {display:none;}
input[class="checkbox-2"]:checked + .arrow-icon-1 { 
    animation-name:rotation-1;animation-duration:0.6s;
    content:url('/static/main/images/icons/bl-arrow-icon-2.png');
} 
input[class="checkbox-2"]:not(:checked) + .arrow-icon-1 { 
    animation-name:rotation-2;animation-duration:0.6s; 
} 
input[class="checkbox-2"]:checked + .arrow-icon-1 + .menu-item-content-2 {
    display:flex;flex-direction: column; 
    animation-name:opacity-occurance-1;animation-duration:0.6s;
    padding:1em; 
}   

input[class="checkbox-3"] {display:none;}
input[class="checkbox-3"]:checked + .arrow-icon-2 {
    animation-name:rotation-1;animation-duration:0.6s;
    content:url('/static/main/images/icons/bl-arrow-icon-2.png');
} 
input[class="checkbox-3"]:not(:checked)+ .arrow-icon-2 {
    animation-name:rotation-2;animation-duration:0.6s; 
} 
input[class="checkbox-3"]:checked + .arrow-icon-2 + .menu-item-content-3 {
    display:flex;flex-direction: column;
    animation-name:opacity-occurance-1;animation-duration:0.6s;
    padding:1em;
}
.menu-item-content-3 {display:none;} 
.menu-item-content-3 label:hover a {color:#e98300;}





.site-navigation-750-plus #nav {display:flex;flex-wrap: wrap;padding-left:12vw;}
.site-navigation-750-plus {
    align-items:center;
    display:flex;
    background:white; 
}  
.site-navigation-750-plus label { 
    position: relative; 
    text-align: left; 
    padding:1em;
    letter-spacing: 0.1em;
    font-size:14px; 
} 

.site-navigation-750-plus .layer-1:hover .menu-item-title-1 {color:#e98300;}
.site-navigation-750-plus .layer-1:hover .menu-item-title-1 .arrow-icon-1 {
    content:url('/static/main/images/icons/or-arrow-icon-1.png');cursor:pointer;
}
.site-navigation-750-plus .layer-1:hover .menu-item-content-1 {
    display: flex;flex-wrap:wrap;flex-direction: column;
    animation-name:opacity-occurance-1;animation-duration:0.8s;
}
.site-navigation-750-plus .layer-2:hover .menu-item-content-2 {
    display: flex;flex-wrap:wrap;flex-direction: column;
    animation-name:opacity-occurance-1;animation-duration:0.8s;
} 
.site-navigation-750-plus .layer-2:hover .menu-item-title-2 {color:#e98300;} 
.site-navigation-750-plus .layer-2:hover .arrow-icon-2 {
    content:url('/static/main/images/icons/or-arrow-icon-3.png');cursor:pointer;
}
 
.site-navigation-750-plus .menu-item-content-1 {
    display:none;   
    position:absolute;
    background:white;
    box-shadow: 23px 4px 55px -8px rgba(0, 0, 0, 0.35);
    width:auto;
    margin-top:1em;
}
.site-navigation-750-plus .layer-1 a {
    padding:0.5em; 
    color: #0066a1;  
    font-size:12px;
    overflow-wrap:break-word; 
    text-decoration: none;
}  

.site-navigation-750-plus .menu-item-content-2 { 
    display:none;    
    position:absolute;
    background:white; 
    box-shadow: 23px 4px 55px -8px rgba(0, 0, 0, 0.35); 
    margin-left:-90%;
    word-wrap:break-word;  
    bottom:0;
}
.site-navigation-750-plus .layer-2 a {
    padding:0.5em; 
    color: #0066a1;  
    font-size:12px;  
    overflow-wrap:break-word; 
    text-decoration: none;
}  
.site-navigation-750-plus  a:hover {color:#e98300;}  





.gray-vl {border-left:1px solid rgba(125,125,125,0.5); height:3em;margin:1em;}
.gray-gl {border-top:1px solid rgba(125,125,125,0.5);width:100%;margin-bottom:0.5em;margin-top:-0.5em;}



@media screen and (max-width: 750px) { 
    .logo-item {width:100%;}
    .logo {margin-left:auto;margin-right: auto;} 
    .gray-vl {display:none;} 
    header {width:95vw;padding-left:0vw;margin-top:8vh;}
    .site-navigation-750-plus #nav {display:none;}
    .site-navigation-750-minus #to-fix-1 {
        display:block;top:0;position:fixed;
        animation-name:opacity-occurance;animation-duration:0.8s; 
    } 
}  
