@keyframes jump {
    0% {transform:translateY(0px);}
    50% {transform:translateY(-6px);} 
    100% {transform:translateY(0px);}
}

@keyframes opacity-occurance {
    from {opacity:0;transform:translateY(-50%);}
    to {opacity:1;transform:translateY(0%);}
} 

.product-buttons-block {
    display: flex;
    align-items: center;
    text-align:center;
    justify-content: center;
    flex-wrap:wrap;
    align-items: center;
    margin-left:auto;
    margin-right:auto;
    width:80vw;
    height:auto;
}

.software-link {
    display:flex;
    align-items: center;
    text-align:center;
    justify-content: center;
    word-wrap: break-word;
    font-family:Arial, Helvetica, sans-serif; 
    text-decoration: none;  
    color: white; 
    box-shadow: 16px 15px 35px 0px rgba(34, 60, 80, 0.8);
    background:rgb(32, 93, 206); 
    font-size:2em;   
    font-weight:600;   
    width:10em;   
    cursor:pointer;   
    height:2.5em;
} 
.software-link:hover {
    background:rgb(115, 153, 225); 
}

.static-image { 
    margin-top:5vh;margin-bottom:5vh;  
    margin-left:auto;margin-right:auto;
}

.catalog-link { 
    display:flex;
    align-items: center;
    text-align:center;
    justify-content: center;
    word-wrap: break-word;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;  
    color: white; 
    box-shadow: 16px 15px 35px 0px rgba(34, 60, 80, 0.8);
    background:#e98300; 
    font-size:2em;   
    font-weight:600;    
    width:10em;   
    cursor:pointer;   
    height:2.5em;
} 
.catalog-link:hover {
    background:rgba(255, 174, 0, 1);
}
 
.catalog-dropbtn {width:10em;}
.catalog-dropbtn:hover {animation:none !important;} 

.catalog-dropbtn:hover + div .catalog-dropdown-content {
    display:flex;
}

.catalog-dropdown-content { 
    animation-name:opacity-occurance;
    animation-duration: 0.75s; 
    margin-right:auto;
    margin-left:auto;
    position:absolute;
    display:none;
    flex-direction:column; 
    z-index:2; 
} 
.catalog-dropdown-content:hover {  
    display:flex;
}

.catalog-dropdown-item { 
    background:#e98300;
    word-wrap:break-word;   
    font-size:1.25em;   
    width:16em;  
    font-weight: 400;
}

.catalog-dropdown-item:hover { 
    animation-name:jump;animation-duration: 0.5s;
}

.link-list { 
    width:auto;
    color:#e98300;
}

.info-link {
    text-align: left;
    font-weight:800;
    color:#e98300;
}
.info-link:hover { 
    animation-name:jump;animation-duration: 0.5s;
} 

#description { 
    width:100%; 
    flex-wrap: wrap;   
    overflow-wrap: wrap;  
} 

.description-item { 
    display:flex;    
    flex-direction: column;
    flex-wrap: wrap; 
} 