
@keyframes opacity-occurance {
  from {opacity:0;transform:translateY(-300px);}
  to {opacity:1;transform:translateY(0%);}
} 

.video-clip {
    width:70%;  
    height:61.25%;
    display:flex;
    margin-left:auto;margin-right: auto;
    cursor: pointer;
    margin-top:2em;
    animation-name:opacity-occurance;
    animation-duration:2s;
}
.video-clip:hover {opacity:0.8;}

.vjs-play-progress {  
  background:#e98300 !important;
}    