{% load static %} 
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/header.css' %}"> 
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}"> 
    </head>

    <body>
 

        <label id="site-navigation-750-minus" class="site-navigation-750-minus"> 
            
            <input type="checkbox" class="checkbox-1"> 
            <div id="to-fix-1">
                <img class="dropdown-icon" src="/static/main/images/icons/bl-dropdown-icon.png"> 
            </div> 
            <div class="menu-item-content-1">
                <div id="content"> 
                {% for title1,value1 in dropdown1.items %}  
                    <label class="layer-1">  
                        <a class="menu-item-title-1 default-text"href="{{value1.link}}">{{title1}}</a> 
                        
                        <input type="checkbox" class="checkbox-2">   
                        <img class="arrow-icon-1" src="/static/main/images/icons/bl-arrow-icon-1.png">  
                        <div class="menu-item-content-2"> 
                            {% for title2,value2 in value1.content.items %} 
                            <label class="layer-2">
                                <label><a class="menu-item-title-2 default-text" href="{{value2.link}}">{{title2}}</a></label>
                                {% if value2.content.items|length != 0 %}
                                    <input type="checkbox" class="checkbox-3">  
                                    <img class="arrow-icon-2" src="/static/main/images/icons/bl-arrow-icon-1.png">  
                                    <div class="menu-item-content-3"> 
                                        {% for title3,value3 in value2.content.items %}    
                                        <label><a class="default-text" href="{{value3.link}}">{{title3}}</a></label>
                                        {% endfor %}  
                                    </div>
                                {% endif %}
                            </label>
                            {% endfor %} 
                        </div>
                    </label> 
                {% endfor %}   
                </div>    
            </div>  
        </label>  

        <header> 
            <div id="contact-info" class="contact-info">   
                <a class="default-text" type="tel" style="float: left;">
                    <img src="/static/main/images/icons/address.png">
                    <p>Адрес: </p>
                    <p>127287 г. Москва, ул. 2-я Хуторская, д. 38А, стр. 8</p> 
                </a> 
                <div class="gray-vl"></div>
                <a class="default-text">
                    <img src="/static/main/images/icons/phone.png">
                    <p>Телефон: </p>
                    <p>+7(495) 790-9028</p>  
                </a>   
                <div class="gray-gl"></div>
            </div>

            <div id="site-navigation-750-plus" class="site-navigation-750-plus">
                <div class="logo-item">
                    <a href="https://terussia.ru/" class="logo">
                    <img src="/static/main/images/icons/te-logo.png"></a> 
                </div> 
                <label id="nav"> 
                    {% for title1,value1 in dropdown1.items %}  
                        <label class="layer-1"> 
                            <a class="menu-item-title-1 default-text"href="{{value1.link}}">
                                {{title1}}<img class="arrow-icon-1" src="/static/main/images/icons/bl-arrow-icon-1.png"> 
                            </a>  
                            <div class="menu-item-content-1"> 
                                {% for title2,value2 in value1.content.items %} 
                                <label class="layer-2">
                                    <a class="menu-item-title-2 default-text" href="{{value2.link}}">
                                        {{title2}}
                                        {% if value2.content.items|length != 0 %}
                                        <img class="arrow-icon-2" src="/static/main/images/icons/bl-arrow-icon-3.png"> 
                                        {% endif %}
                                    </a>
                                    {% if value2.content.items|length != 0 %}
                                        <div class="menu-item-content-2"> 
                                            {% for title3,value3 in value2.content.items %}   
                                            <label><a class="default-text" href="{{value3.link}}">{{title3}}</a></label>
                                            {% endfor %}  
                                        </div>
                                    {% endif %}
                                </label>
                                {% endfor %} 
                            </div>
                        </label> 
                    {% endfor %}  
                </label> 
            </div> 
        </header>
        {% block start %}{% endblock %} 
    </body>
  
    <script type="text/javascript">   
        var navigation_1 = document.getElementById("site-navigation-750-minus");
        var navigation_2 = document.getElementById("site-navigation-750-plus");
        window.addEventListener(
            "scroll", function(e) {  
                if (window.innerWidth >= 750) { 
                    var scrolled = document.body.scrollTop - navigation_2.offsetTop; 
                    if (scrolled > 100 ) {navigation_2.classList.add("to-fix-2");}
                    else {navigation_2.classList.remove("to-fix-2");} 
                }
            }
        );

    </script>
</html>