{% extends 'base.html' %}
{% load static %}
{% block catalog %} 
<title>Каталоги продукции</title>
<div class="catalog-content">
    {% for title, catalog in catalogs.items %}
        <div class="catalog-item"> 
            <a target="{{catalog.target}}" href="{{catalog.link}}"> 
                <p class="catalog-title">{{catalog.title}}</p>
            </a> 
            <a target="{{catalog.target}}" style="display:flex;" href="{{catalog.link}}"> 
                <img class="catalog-preview-image" src="{{catalog.preview}}">
            </a>
        </div>
    {% endfor %%}
</div>   

{% endblock %}