{% extends 'electrical/base.html' %}
{% load static %}
{% block catalog %}
<html>
    <body> 
        <div class="catalog-content">
            {% for title, catalog in catalogs.items %}
                <div class="catalog-item"> 
                    <a href="{{catalog.link}}"> 
                        <p class="catalog-title">{{catalog.title}}</p>
                    </a> 
                    <a style="display:flex;" href="{{catalog.link}}"> 
                        <img class="catalog-preview-image" src="{{catalog.preview}}">
                    </a>
                </div>
            {% endfor %%}
        </div>
    </body>
</html>
{% endblock %}