{% extends 'base.html' %}
{% load static %} 
{% block contacts %}   

<title>Контакты</title> 

<div class="contact-list">
    {% for contact in contacts %}  
        <div class="contact"> 
                <p class="contact-title">{{contact.first_name}} {{contact.last_name}}</p>
                <div class="contact-text">
                    <p class="position">{{contact.position}}</p>
                    <div> 
                        <div><p style="color:gray;">{{contact.organization}}</p></div>
                        {% if contact.address %}
                            <div><p style="color:gray;">{{contact.address}}</p></div> 
                        {% endif %}
                        <label style="display:flex;align-items:center;">
                            <p style="margin-right:1em;color:#e98300;font-weight:800;">TEL </p><a style="margin-right:1em;" href="tel:{{contact.tel}}" type="tel">{{contact.tel}}</a>
                            {% if contact.extended_number %}
                                <p style="color:gray;"> доб. {{contact.extended_number}}</p>
                            {% endif %} 
                        </label>   
                        <div style="display:flex;align-items:center;">
                            <p style="margin-right:1em;color:#e98300;font-weight:800;">
                            MOBILE</p><a href="tel:{{contact.mobile}}" type="tel">{{contact.mobile}}</a>
                        </div>
                    </div>
                    <a target="_blank" style="color:#0066a1;display:flex;align-items:center;" href="mailto:{{contact.email}}">
                        <img class="contact-email-icon" src="{% static 'images/icons/@-email-2.png' %}">
                        {{contact.email}}
                    </a>
                </div> 
        </div> 
    {% endfor %}
</div> 

{% endblock %}