{% extends 'electrical/base.html' %}
{% load static %}  
{% load customtags %}
{% block product %} 

 
<title>{{product.product_title}}</title>     

<script type="text/javascript">
    var max_slide_numbers = {};
    var delays = {}; 
    var slideshows = {}; 
</script>
 
<h1 class="paragraph-title">{{product.product_title}}</h1>

{% if product.slideshow_id_ %}   
    {% with product.slideshow_id_ as slideshow_id %}   
        {% with image_slideshows|get_item:slideshow_id as s %} 
            {% with s.content|length as number_of_slides %}  
                {% with "image" as data_type %}  
                    {% with 8 as delay %}  
                        {% with "0,0,0" as arrows_color %} 
                            {% include 'electrical/slideshow.html' %}
                        {% endwith %}
                    {% endwith %}
                {% endwith %}
            {% endwith %}
        {% endwith %}
    {% endwith %} 
{% elif product.static_image %}
    <div style="display:flex;">
        <img class="static-image" src="{{product.static_image}}" 
        style = "
            width:{{product.static_image_settings.width}};
            height:{{product.static_image_settings.height}};
            margin-left:auto;margin-right:auto;
        "> 
    </div>
{% endif %}

 
<div style="display: flex;flex-wrap:nowrap;">
    {% if product.catalog_link %}
        <a class="catalog-link" href="{{product.catalog_link}}">Каталог</a>
    {% endif %}  
    {% if product.software_link %}
        <a class="software-link" href="{{product.software_link}}">Программное обеспечение</a>
    {% endif %} 
</div>
 
{% for title, paragraph in product.description.items %}
    <div style="margin:5vw;">
        <p class="paragraph-title" 
        style="font-weight:800;font-family:Arial, Helvetica, sans-serif, Impact ;text-align:left;">
        {{paragraph.subtitle}}</p>  

        <p class="paragraph" style="text-align:left;">{{paragraph.text}}</p>  
        {% for title, link in paragraph.links.items %}
            <a href="#" class="paragraph-title product-sub-link" 
            style="right:0;color:cornflowerblue;font-size:1.5em;font-weight:600;font-family:Arial, Helvetica, sans-serif, Impact ;text-align:left;">
            {{paragraph.subtitle}}</a>  
        {% endfor %}
    </div> 
{% endfor %}

{% endblock %}