{% load static %}
{% load customtags %}


<div class="slideshow" id="projects-slideshow">
    <div class="slides">
        {% for item in content %}
            {% get_item_index content item as slideIndex %}
            <div id="projects-slideshow-slide-{{slideIndex}}" class="slide"> 
                <img src="{{item}}" class="slide-image">  
            </div>
        {% endfor %}
    </div>
    <nav>
        {% for item in content %}
            {% get_item_index content item as slideIndex %}
            <div id="projects-slideshow-dot-{{slideIndex}}" class="slideshow-dot" onclick='ActivateSlide("projects-slideshow", {{slideIndex}})'></div>
        {% endfor %}
    </nav>
</div>
<script type="text/javascript" src="{% static 'js/slideshow.js' %}?v=2"></script>