{% extends 'electrical/base.html' %} 
{% load static %}
{% block videos %}
<title>Videos</title>   
<link rel="stylesheet" type="text/css" href="https://vjs.zencdn.net/7.15.4/video-js.css"  >
<h1 class="category-title">Videos</h1>
<div class="video-flex-container">
{% for video in all_videos %}
    <a href="{% url 'electrical:detail_video' category_slug='slug' video_slug=video.slug %}" class="video-link">
        {% if video.preview and video.preview.url %}
        <img class="video-preview-img" src="{{video.preview.url}}">
        {% else %}
        <video class="video-preview-img" >
            <source src="{{video.file.url}}" type="video/mp4"> 
        </video> 
        {% endif %}
        <p style="margin:1em;" class="preview-title">{{video.title}}</p>
    </a>    
{% endfor %} 
</div> 
{% endblock %}