{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{{video.slug}}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/video.css' %}">
        <link rel="stylesheet" type="text/css" href="https://vjs.zencdn.net/7.15.4/video-js.css"  >
    </head>
    <body> 
        <div class="video-detail" controls>  
            <video class="video-js video-clip"
                {% if video.preview and video.preview.url %}
                poster="{{video.preview.url}}"
                {% endif %}
                controls 
            >
                <source src="{{video.file.url}}" type="video/mp4" /> 
            </video> 

            <p style="margin-top:-5%;margin-left:5%;font-size:25px;" class="preview-title">{{video.title}}</p>

        </div>
        <script src="https://vjs.zencdn.net/7.15.4/video.min.js"></script>
    </body>
</html>